<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="index.css">

    <title>DrawForm</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body>

    <main>
        <div class="container-fluid" style="padding-top: 30px;padding-bottom: 30px;">
            <div class="row">
                <div class="col text-center">
                    <a href="index.html" style="text-decoration: none;color: #212529;">
                        <h1>DRAWFORM</h1>
                    </a>
                </div>
            </div>
        </div>
        <!-- =====BLUE NAVBAR===== -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary" aria-label="Third navbar example">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">Expand at sm</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample03">

                    <form class="nav-search">
                        <input class="form-control" type="text" placeholder="Αναζήτηση" aria-label="Search">
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0" style="padding-left: 30px;">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="#">MY PROCUREMENT</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                                aria-expanded="false">Newsfeed</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="#">Άρθρα Κατασκευών</a></li>
                                <li><a class="dropdown-item" href="#">Video Κατασκευών</a></li>
                            </ul>
                        </li> -->


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">ΚΑΤΗΓΟΡΙΕΣ</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="nextproject.html">ΣΧΕΔΙΑ ΣΥΝΑΡΜΟΓΩΝ</a></li>
                                <li><a class="dropdown-item" href="toolselection.html">ΠΡΟΙΟΝΤΑ ΣΥΝΑΡΜΟΓΩΝ</a></li>
                                <li><a class="dropdown-item" href="#">ΥΠΗΡΕΣΙΕΣ ΠΑΡΑΓΩΓΗΣ</a></li>
                                <li><a class="dropdown-item" href="#">ΥΠΗΡΕΣΙΕΣ ΣΧΕΔΙΑΣΗΣ</a></li>
                                <li><a class="dropdown-item" href="#">ΕΡΓΑΣΤΗΡΙΑ ΠΑΡΑΓΩΓΗΣ</a></li>
                                <li><a class="dropdown-item" href="#">ΓΙΝΕ ΣΥΝΕΡΓΑΤΗΣ</a></li>
                                <li><a class="dropdown-item" href="#">ΕΤΑΙΡΙΚΗ ΚΟΙΝΩΝΙΚΗ ΕΥΘΥΝΗ</a></li>
                                <!-- <li><a class="dropdown-item" href="#">Industrial room</a></li>
                                <li><a class="dropdown-item" href="#">Educational Draws-Les</a></li>
                                <li><a class="dropdown-item" href="#">Διαγωνισμοί</a></li> -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BLOG</a>
                        </li>

                    </ul>
                </div>

                <!-- ===========BEFORE LOGIN============== -->

                <button class="btn btn-secondary" type="button" style="padding: 5px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                    <img src="images/enter.svg" alt="" width="25" height="25" class="d-inline-block align-top" style="filter: invert(100%);">
                </button>

                <!-- ===========END BEFORE LOGIN============== -->



                <!-- ===========AFTER LOGIN============== -->

                <button class="btn btn-secondary" type="button" style="padding: 5px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                    <img src="images/notification.svg" alt="" width="25" height="25" class="d-inline-block align-top" style="filter: invert(100%);">
                </button>

                <div class="dropstart" id="usersdropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0px;margin-right: 20px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                        <img src="images/user.svg" alt="" width="34" height="34" class="d-inline-block align-top" style="filter: invert(100%);">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Username</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Sign Out</a></li>
                    </ul>
                </div>

                <!-- ===========END AFTER LOGIN============== -->

            </div>
        </nav>
        <!-- =====END OF BLUE NAVBAR====== -->

    </main>

    <div class="container" style="padding-top: 30px;">




        <!-- CARD WITH TITLE AND BODY WITHOUT IMAGE -->
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <!-- CARD FOR QUOTING -->

        <div class="card">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- CARD WITH TEXT AT CENTER -->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- CARD WITH IMAGE ABOVE -->
        <div class="card mb-3">
            <img src="images/tools.jpg" class="card-img-top" alt="..." style="max-height: 300px;object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
        <div class="card bg-dark text-white">
            <img src="images/tools.jpg" class="card-img" alt="..." style="max-height: 300px;object-fit: cover;">
        </div>

    </div>



    <!-- =============================================side navigation bar================================================================ -->
    <!-- <div class="d-md-flex bd-highlight navbar-expand-sm"
        style="padding-top: 30px;padding-left: 10px; padding-right: 10px;">
        <div class="flex-column text-center " style="padding-top:50px;">
            <div style="padding: 3px">
                <button id="targetid" style="width: 100%" type="button" class="btn btn-outline-dark linkheader">Διάλεξε
                    την κατασκευή
                    σου</button>
            </div>

            <div style="padding: 3px">
                <button id="tabletarget" style="width: 100%" type="button"
                    class="btn btn-outline-dark linkheader">Διάλεξε τα υλικα </button>
            </div>

            <div style="padding: 3px">
                <button id="resp-image" style="width: 100%" type="button"
                    class="btn btn-outline-dark linkheader">Βοηθητικές υπηρεσίες</button>
            </div>
            <div style="padding: 3px">
                <button id="resp-card" style="width: 100%" type="button" class="btn btn-outline-dark linkheader">Become
                    a partner</button>
            </div>
            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Εταιρική κοινωνική
                    ευθύνη</button>
            </div>
            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Υπηρεσίες σχεδίασης</button>
            </div>
            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Υπηρεσίες σχεδίασης</button>
            </div>
            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Contact Us</button>
            </div>

            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Industrial room</button>
            </div>

            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Educational Draws-Les</button>
            </div>

            <div style="padding: 3px">
                <button style="width: 100%" type="button" class="btn btn-outline-dark">Διαγωνισμοί</button>
            </div>

        </div>

        <div class="flex-column text-center flex-grow-1">
            <h1>Category Title</h1>
            <div name="targetid" style="display: block;padding: 10px;">
                <img style="max-width: 200px;" src="pexels-energepiccom-175039.jpg" class="rounded float-start"
                    alt="...">
                <img style="max-width: 200px;" src="pexels-energepiccom-175039.jpg" class="rounded float-end" alt="...">
            </div>

            <div name="tabletarget" style="display: none;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div name="resp-image" style="display: none;">
                <img src="pexels-energepiccom-175039.jpg" class="img-fluid" style="max-width: 600px;" alt="...">
            </div>

            <div name="resp-card" style="display: none;">


                <div class="card bg-dark text-white">
                    <img src="pexels-energepiccom-175039.jpg" class="img-fluid"
                        style="max-height: 500px;object-fit:cover;" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <!-- =============================================END side navigation bar============================================================ -->

    <!-- ==================FOOTER=============================== -->
    <footer class="pagefooter text-center">
        <span>DrawForm © 2020-<span id="footeryear">Now </span> </span>
    </footer>


    <style>
        .pagefooter {
            padding-top: 80px;
            padding-bottom: 20px;
            background-color: #0D6EFD;
            color: rgba(255, 255, 255, 0.727);
        }
    </style>

    <script>
        var footeryear = document.getElementById("footeryear");
        footeryear.innerHTML = (new Date()).getFullYear();
    </script>

    <!-- ==================END FOOTER=============================== -->

    <!-- Option 1: Bootstrap Bundle with Popper  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

    <script src="javascripts/index.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>