<style>
    .userprop {
        display: none;
    }
</style>
<main>
    <div class="container-fluid" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="row">
            <div class="col text-center">
                <a href="index.html" style="text-decoration: none;color: #212529;">
                    <h1>DRAWFORM</h1>
                </a>
            </div>
        </div>
    </div>
    <!-- =====BLUE NAVBAR===== -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary" aria-label="Third navbar example">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Expand at sm</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">

                <form class="nav-search">
                    <input class="form-control" type="text" placeholder="Αναζήτηση" aria-label="Search">
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-sm-0" style="padding-left: 30px;">
                    <li class="nav-item active userprop">
                        <a class="nav-link " aria-current="page" href="#">MY PROCUREMENT</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                            aria-expanded="false">Newsfeed</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="#">Άρθρα Κατασκευών</a></li>
                            <li><a class="dropdown-item" href="#">Video Κατασκευών</a></li>
                        </ul>
                    </li> -->


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">ΚΑΤΗΓΟΡΙΕΣ</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="nextproject">ΣΧΕΔΙΑ ΣΥΝΑΡΜΟΓΩΝ</a></li>
                            <li><a class="dropdown-item" href="toolselection">ΠΡΟΙΟΝΤΑ ΣΥΝΑΡΜΟΓΩΝ</a></li>
                            <li><a class="dropdown-item" href="#">ΥΠΗΡΕΣΙΕΣ ΠΑΡΑΓΩΓΗΣ</a></li>
                            <li><a class="dropdown-item" href="#">ΥΠΗΡΕΣΙΕΣ ΣΧΕΔΙΑΣΗΣ</a></li>
                            <li><a class="dropdown-item" href="#">ΕΡΓΑΣΤΗΡΙΑ ΠΑΡΑΓΩΓΗΣ</a></li>
                            <li><a class="dropdown-item" href="#">ΓΙΝΕ ΣΥΝΕΡΓΑΤΗΣ</a></li>
                            <li><a class="dropdown-item" href="#">ΕΤΑΙΡΙΚΗ ΚΟΙΝΩΝΙΚΗ ΕΥΘΥΝΗ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>

                </ul>
            </div>

            <!-- ===========BEFORE LOGIN============== -->

            <a href="signin" class="btn btn-secondary signin btn-sm" type="button" style="padding: 5px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                <!-- <img src="images/enter.svg" alt="" width="25" height="25" class="d-inline-block align-top" style="filter: invert(100%);"> -->
                Login
            </a>

            <a href="register" class="btn btn-secondary signin btn-sm" type="button" style="padding: 5px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                <!-- <img src="images/enter.svg" alt="" width="25" height="25" class="d-inline-block align-top" style="filter: invert(100%);"> -->
                Register
            </a>

            <!-- ===========END BEFORE LOGIN============== -->



            <!-- ===========AFTER LOGIN============== -->

            <button class="btn btn-secondary userprop" type="button" style="padding: 5px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                <img src="images/notification.svg" alt="" width="25" height="25" class="d-inline-block align-top"
                    style="filter: invert(100%);">
            </button>

            <div class="dropstart userprop" id="usersdropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0px;margin-right: 20px; background-color: rgba(128, 128, 128, 0);border-color: rgba(128, 128, 128, 0);">
                    <img src="images/user.svg" alt="" width="34" height="34" class="d-inline-block align-top"
                        style="filter: invert(100%);">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item loggeduser" href="#">Username</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <hr>
                    <li><a class="dropdown-item signoutuser" href="/">Sign Out</a></li>
                </ul>
            </div>

            <!-- ===========END AFTER LOGIN============== -->

        </div>
    </nav>
    <!-- =====END OF BLUE NAVBAR====== -->

</main>

<script>
</script>