<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/index.css">

    <title>DrawForm</title>

</head>

<body>
    <div>
        <%- include('navbar'); -%>
    </div>


    <div class="container" style="padding-top: 30px;">



        <div class="container text-center" style="margin-bottom: 50px;">
            <h3>ΠΡΟΙΟΝΤΑ ΣΥΝΑΡΜΟΓΩΝ</h3>
        </div>

        <style>
            .btn-group-sm .btn-outline-primary {
                margin-right: 5px;
                margin-bottom: 5px;
            }
            
            .titlos-kartas {
                text-decoration: none;
                color: white;
                transition: all .1s ease-in-out;
            }
            
            .titlos-kartas:hover {
                transform: scale(1.1) translateY(10px);
            }
        </style>

        <div class="container-fluid">
            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/διαφορα εργα11111.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΕΡΓΑΛΕΙΑ ΧΕΙΡΟΣ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/2.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΒΙΔΟΠΟΙΙΑ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/eidi-kigkalerias.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΕΙΔΗ ΚΙΓΚΑΛΕΡΙΑΣ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/unnamed.png" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΥΔΡΑΥΛΙΚΑ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/ilektrikaergalia.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΗΛΕΚΤΡΙΚΑ ΕΡΓΑΛΕΙΑ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/sygkoliseis_ForumTraining.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΣΥΓΚΟΛΛΗΣΗ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/download.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΗΛΕΚΤΡΟΛΟΓ. ΕΞΟΠΛΙΣ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/tools.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΕΞΑΡΤΗΜΑΤΑ ΑΕΡΟΣ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <!-- CARD WITH IMAGE AND TEXT ON IMAGE -->
                    <div class="card bg-dark text-white text-center">
                        <a href="brandselection">
                            <img src="images/tools.jpg" class="card-img" alt="..." style="max-height:100px;min-height: 100px;object-fit: cover;">
                            <div class="card-img-overlay" style="height: 100%;width: 100%;background-color:#0202026b;">
                            </div>
                            <div class="card-img-overlay titlos-kartas">
                                <h5 class="card-title">ΑΝΑΛΩΣΙΜΑ ΧΡΩΜΑΤΟΠΩΛΕΙΟΥ</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as</p> -->
                            </div>
                        </a>
                    </div>
                </div>



            </div>
        </div>







    </div>



    <!-- ==================FOOTER=============================== -->
    <div>
        <%- include('footer') -%>
    </div>


    <!-- ==================END FOOTER=============================== -->

    <!-- Option 1: Bootstrap Bundle with Popper  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

    <script src="javascripts/index.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>